.form-container {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0 100px;

  &__title {
    margin: 0 0 30px;
    text-align: center;
  }

  &__form {
    width: 100%;
    position: relative;
    height: calc(100vh - 150px);
    overflow-y: auto;
    scrollbar-width: none;
  }

  &__form::-webkit-scrollbar {
    width: 0;
  }

  &__lists {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__button-container {
    width: 100%;
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 60%;
    background-color: rgb(86, 86, 86);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto;

    &:hover {
      background-color: #000;
      cursor: pointer;
    }
  }
}
