.main {
  width: 100%;

  &__section {
    width: 90%;
    min-height: 150px;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px 40px;
  }

  &__container {
    background-color: rgb(244, 240, 231);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    &:hover {
      transform: scale(1.1, 1.1);
      transition-property: transform;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  &__description {
    width: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  &__price {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #a52838;
  }

  &__id {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  &__brand {
    padding: 0;
    margin: 0;
    font-weight: 500;
    min-height: 20px;
  }
}
